.header {
    display: flex; /* eixo da linha */
    align-items: center; /* alinha ao centro da linha */
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3F51B5;
    font-size: 15pt;
}

.header .logo {
    max-height: 70px;
    margin-left: 20px;
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 10px;
}